* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

nav {
  background: #000;
}

ul {
  display: flex; 
  list-style: none; 
}

li {
  flex-grow: 1; 
}

a {
  font-family: Arial, Helvetica, sans-serif;
  display: block; 
  padding: 15px 25px; 
  text-align: center;
  color: white; 
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 4px solid black
}
a:hover {
  color: yellow; 

}

a.active {
  border-bottom-color: yellow; 
}

section {
  padding-top: 30px; 
  text-align: center;
}

.home_selected {
  border-bottom-color: yellow; 
}
.news_selected {
  border-bottom-color: blue; 
}
.contact_selected {
  border-bottom-color: red; 
}